    <section class="lightbox">
        <div class="lb-content">
            <img src="none.jpg" alt="">
        </div>

    </section>

    <div class="heading">
    <h1>MOST POPULAR PIZZA TOPPINGS</h1>
    <h2>point-of-sale data from 604 pizza locations across the United States.
        </h2> 
    <h3>
    click on the toppings to see the most popular pizza topping
</h3>


</div>

        <div class="main-display">
        
        <div id="column">

        <a class="resetButton" href="">RESET</a>

        <a class="source" href="https://www.quora.com/What-are-the-most-popular-pizza-toppings/answer/Brian-Roemmele?awc=15748_1575296765_8eceaf1d8bb5113db683f581a0b9f347&uiv=6&txtv=8&source=awin&medium=ad&campaign=uad_mkt_en_acq_us_awin&set=awin&pub_id=78888">SOURCE</a>
        </div>

        <img id="pizza" src="images/pizza.svg" alt="pizza">

        <div class="data"></div>
    </div>

<div class="main-icon">
            <h1>Toppings</h1>
        <div class="icon">
        {{#each people}}


            <section class="p-icon" >
             <a class="u-link" href="{{ID}}">
                <img class="icons" src="{{ICONS}}" alt="{{ALT}}">
             </a>
            </section>

        {{/each}}
        </div>

</div>