    <section class="lightbox">
        <div class="lb-content"></div>
        <img src="none.jpg" alt="some empty tag">

    </section>

    <div class="heading">
    <h1>MOST POPULAR PIZZA TOPPINGS</h1>
    <h2>point-of-sale data from 604 pizza locations across the United States.
        </h2> 
    <h3>
    click on the toppings to see the most popular pizza topping
</h3>


</div>

        <div class="main-display">

        <a class="resetButton" href="">RESET</a>

        <img id="pizza" src="images/pizza.svg" alt="pizza">

        <div class="data"></div>
    </div>

<div class="main-icon">
            <h1>Toppings</h1>
        <div class="icon">
        {{#each people}}


            <section class="p-icon" >
                
             <a class="u-link" href="{{ID}}">
                <img class="icons" src="{{ICONS}}" alt="{{ALT}}">
             </a>
            </section>

        {{/each}}
        </div>

</div>