.lightbox { 
    display: none;
    //display: flex;
    flex-direction: row;
    min-height: 50vh;
    width: 75%;
    margin-left: 8px;
    z-index: 5000;
    padding: 75px;
    position: absolute;
    top: 75px;
    left: 175px;
    bottom: 175px;

    .sidebar {
        flex: 1;
    }
    
    .lb-content {
        height: 10%;
        display: flex;
        flex-direction: row;
        flex: 3;
    }

}

.show-lb {
    height: 100%;
    max-height: 200px;
    display: flex !important; 
}

.u-social {
    li { 
        display: inline-block;
        padding: 10px;
    }
}